<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><?=$_NAME?></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="<?=\Xpmse\Conf::G("general/static")?>/sm/css/sm.css">
    <link rel="stylesheet" href="<?=\Xpmse\Conf::G("general/static")?>/sm/css/sm-extend.css">
    <!-- <link rel="stylesheet" href="//at.alicdn.com/t/font_1454296644_8265426.css"> XpmSE iconfont 图标 -->
  </head>
  <body>
    <div class="page-group">