<!DOCTYPE html>
<!--[if IE 9]> <html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>XpmSE - 安装向导</title>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />

        <meta name="author" content="tunduimao">
        <meta name="robots" content="none">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0"> 
        
        <link rel="shortcut icon" href="/favicon.ico"  type="image/x-icon">

        <!-- Stylesheets -->
        <!-- Bootstrap and TuanDuimao CSS framework -->
        <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/assets/js/plugins/select2/select2.min.css">
        <link rel="stylesheet" id="css-main" href="/static/assets/css/xpmse.min.css">
        <link rel="stylesheet" href="/static/assets/js/plugins/cropper/cropper.css">
        <!-- END Stylesheets -->
    </head>
    <body>