<?php include_once(tpl('setup/head')); ?>

<!-- Install Content -->
<div class="content overflow-hidden">

    <div class="row">
         <div class="col-lg-6 col-lg-offset-3  col-md-6 col-md-offset-3  col-sm-6 col-sm-offset-3 p push-15-t">
             <!-- Step Form Content -->
             <div class="block block-shadow block-radius">
                <div class="block-header">
                    <h3 class="block-title font-w300 pull-right text-muted push-10-t push-5-r "> 
                       <?=$currIdx?>/<?=$total?>
                    </h3>

                    <h3 class="block-title font-w300  push-10-t push-5-l" style="text-transform:none"> 
                        <i class="iconfont icon-xpmse push-5-l"></i> 
                        安装向导
                        <i class="fa fa-angle-right"></i> 
                        数据库配置
                    </h3>
                </div>

				<div class="block-content block-content-full block-content-narrow text-center" style="padding-left: 10%;padding-right: 10%;">  
                     <form 
                        action=""
                        id="supertable-form"
                        method="post" class="form-horizontal" >

                       <!--  <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon font-w400" style="min-width:100px;"> 检索引擎 </span>
                                <select class="js-select2 form-control" id="es_engine" name="es_engine" style="width: 100%;" data-placeholder="请选择...">
                                    <option></option>
                                    <option value="Elasticsearch" selected> Elasticsearch </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon font-w400" style="min-width:100px;"> Host </span>
                                <input class="form-control" type="text" id="es_host" name="es_host" 
                                    value="<?=setupController::V('tab','es_host', '127.0.0.1')?>"
                                    placeholder="请输入 Elasticsearch 服务地址">
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon font-w400" style="min-width:100px;"> Port </span>
                                <input class="form-control" type="text" id="es_port" name="es_port" 
                                    value="<?=setupController::V('tab','es_port', '9200')?>"
                                    placeholder="请输入 Elasticsearch 服务端口号">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon font-w400" style="min-width:100px;"> 索引名称 </span>
                                <input class="form-control" type="text" id="es_index" name="es_index" 
                                    value="<?=setupController::V('tab','es_index', 'xpmse')?>"
                                    placeholder="请输入 Elasticsearch 索引库名称" >
                            </div>
                        </div>
                        -->
                        <!-- 
                        <div class="form-group text-left">
                            <label class="css-input switch switch-sm switch-primary">
                                <input type="checkbox" checked><span></span> 启用独立索引 ( 建议开启 )
                            </label>
                        </div>

                        <div class="form-group text-left">
                            <label class="css-input switch switch-sm switch-primary">
                                <input type="checkbox" checked><span></span> 启用独立数据表 ( 建议开启 )
                            </label>
                        </div> 


                        <div class="form-group"> <hr/> </div> -->

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon font-w400" style="min-width:100px;"> 数据引擎 </span>
                                <select class="js-select2 form-control" id="st_engine" name="st_engine" style="width: 100%;" data-placeholder="请选择...">
                                    <option></option><!-- Required for data-placeholder attribute to work with Select2 plugin -->
                                    <option value="mysql" selected> MySQL</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon font-w400" style="min-width:100px;"> Host </span>
                                <input class="form-control" type="text" id="st_host" name="st_host" 
                                    value="<?=setupController::V('tab','st_host', '127.0.0.1')?>"
                                    placeholder="请输入 MySQL 服务地址">
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon font-w400" style="min-width:100px;"> Port </span>
                                <input class="form-control" type="text" id="st_port" name="st_port" 
                                    value="<?=setupController::V('tab','st_port', '3306')?>"
                                    placeholder="请输入 MySQL 服务端口号">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon font-w400" style="min-width:100px;"> User </span>
                                <input class="form-control" type="text" id="st_user" name="st_user"  
                                    value="<?=setupController::V('tab','st_user', 'xpmse')?>"
                                    placeholder="请输入 MySQL 用户名">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon font-w400" style="min-width:100px;"> Password </span>
                                <input class="form-control" type="text" id="st_pass" name="st_pass"  
                                    value="<?=setupController::V('tab','st_pass', 'xpmse')?>"
                                    placeholder="请输入 MySQL 密码">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon font-w400" style="min-width:100px;"> 数据库名称 </span>
                                <input class="form-control" type="text" id="st_dbname" name="st_dbname"  
                                    value="<?=setupController::V('tab','st_dbname', 'xpmse')?>"
                                    placeholder="请输入 MySQL 数据库名称">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon font-w400" style="min-width:100px;"> 数据表前缀 </span>
                                <input class="form-control" type="text" id="st_prefix" name="st_prefix"  
                                    value="<?=setupController::V('tab','st_prefix', 'xs_')?>"
                                    placeholder="请输入 MySQL 数据表前缀">
                            </div>
                        </div>

                        <div class="form-group text-left">
                            <label class="css-input switch switch-sm switch-danger">
                                <input
                                    id="format" name="format"  
                                    value="1"
                                    type="checkbox"  
                                    <?php if ( setupController::V('tab','format', '1') == "1" ):  ?> checked <?php endif ?> 
                                    ><span></span> 清除已有数据
                            </label>
                        </div>


                        <div class="form-group">
                            <button 
                                class="btn btn-primary pull-left font-w300 push-15-r tryit se-action"
                                data-action="/setup.php?a=tryit&se=tab"
                                data-form="#supertable-form"
                                type="button" > 
                                校验配置
                            </button>
    
                            <span class="pull-left tryit-status hidden" > <i class="fa fa-refresh fa-spin"></i> 正在校验 SuperTable  </span>
                            
                            <?php if ( !empty($next)) :?>
                            <button class="btn btn-primary pull-right font-w300 saveit se-action" 
                                data-action="/setup.php?a=saveit&se=tab"
                                data-form="#supertable-form"
                                type="button">  
                                下一步  <i class="fa fa-angle-double-right"></i> 
                            </button>
                            <?php endif; ?>
            
                            <?php if ( !empty($prev)) :?>
                            <a class="btn btn-default pull-right font-w300 push-15-r se-action" href="/setup.php?s=<?=$prev?>"> 
                                <i class="fa fa-angle-double-left"></i> 上一步   
                            </a>
                            <?php endif; ?>

                        </div>

                     </form>
				</div>
             </div> <!-- Step Form Content -->
        </div>
    </div>
</div>

<?php include_once(tpl('setup/foot')); ?>
<script src="/static/assets/js/plugins/select2/select2.full.min.js"></script>
<script src="/static/js/setup.js"></script>
<script type="text/javascript">
$(function(){
    
    App.initHelpers(['select2']);

    // 连接测试按钮
    seActionInit('.tryit', function( status, resp ) {

        if ( status == 'success') {
            App.notify('校验成功!');
        } else if ( status == 'warning' ) {
            message = resp['message'] || '';
            App.notify( '校验成功 | 警告:' + message, 'fa fa-warning','warning');
        } else {
            message = resp['message'] || '校验失败';
            App.notify(message, 'fa fa-times','danger');
        }

    }, {
        'status':'.tryit-status',
        'action':'.se-action',
        'doing':'<i class="fa fa-refresh fa-spin"></i> 正在校验, 可能花费数秒钟... ',
        'mute':true
    });

    // 下一步按钮
    seActionInit('.saveit', function( status, resp ) {
        var next = '<?=$next?>';
        if ( next !== '') {
           nextUrl = '/setup.php?s=' + next;
        } else {
            nextUrl = '/';
        }

        if ( status == 'success' ) {
            window.location = nextUrl;
        } else if ( status == 'warning' ) {
            message = resp['message'] || '';
            App.notify( '警告:' + message, 'fa fa-warning','warning');
            setTimeout(function(){ window.location = nextUrl; }, 1500);

        } else {
            message = resp['message'] || '保存失败';
            App.notify( '保存失败 | ' + message, 'fa fa-times','danger');
        }

    }, {
        'status':'.tryit-status',
        'action':'.se-action',
        'hidden':'.tryit',
        'doing':'<i class="fa fa-refresh fa-spin"></i> 正在校验并保存, 可能花费数秒钟...',
        'mute':true
    });

});
</script>
<?php include_once(tpl('setup/footer')); ?>