<!-- btn-ajax-post 操作确认对话框 Modal -->
<div class="modal fade" id="_btn-ajax-confirm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top">
        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title font-w300">请确认操作</h3>
                </div>
                <div class="block-content">
                    <p>我确认这样操作</p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-default font-w300" type="button" data-dismiss="modal">取消</button>
                <button class="btn btn-sm btn-primary font-w300 ajax-post-confirm" type="button" data-dismiss="modal"><i class="fa fa-check"></i> 确认 </button>
            </div>
        </div>
    </div>
</div>
<!-- END btn-ajax-post  操作确认对话框 Modal -->