<!-- fullscreen-loading 全局Loading Modal -->
<div class="modal" id="_fullscreen-loading" 
     tabindex="-1" role="dialog" aria-hidden="false"
     data-backdrop="static"
     style="top:26.80%;"
     >
    <div class="modal-dialog modal-sm">
        <div class="modal-content text-center" style="background:transparent none repeat scroll 0% 0%">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12">
                    <div class="block block-shadow text-center" >
                        <div class="block-content block-content-full">
                            <i   name="icon" class="si si-refresh fa fa-spin fa-4x text-success"></i>
                            <div name="message" class="font-w300 push-15-t">正在保存数据, 请稍后...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END  fullscreen-loading 全局Loading Modal -->
